@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anta", sans-serif;
}

.wrapper {
  background-color: #f6f8f9;
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 20rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  height: 2rem;
  border-radius: 10px;
  background-color: #e9f0f4;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}
.button:hover {
  border: 2px dotted #99ee22;
  background-color: black;
  color: white;
}
.equals{
  background-color: #148647;
  grid-column: 3/5;
}
.opt{
  background-color: #ccee22;
}
.cancel{
  background: red;
}